<template>
  <div class="products container mx-auto relative mt-32">
    <router-view @addToCart="itemToCart" @closeModal="closeModal" />
    <Header v-if="!this.$route.params.phrase" @updateFilter="updateFilter" :headline="`Our products, page `+this.currentPage" :limit="limit" />
    <Header v-else @updateFilter="updateFilter" :headline="`Search results for `+this.$route.params.phrase+`, page `+this.currentPage" :limit="limit" />
        <transition-group name="push" class="products-wrap flex flex-wrap justify-between">
          <ProductCard @addToCart="itemToCart" v-for="product in products" :key="product.id" :id="product.general.presentable_id" :name="product.general.name" :thumbnail="product.images.primary.large"/>
        </transition-group>
    <Paginate
      :page-count="allPagesCount"
      :click-handler="changePage"
      v-model="currentPage"
      :container-class="'flex justify-around w-4/4 md:w-1/2 mx-auto my-16 items-center text-purple-700'"
      :page-class="'hidden md:block page-item w-10 h-10 border border-purple-200 rounded-lg font-semibold mx-2 text-center'"
      :active-class="`bg-purple-600 text-purple-100 border-none`"
      :page-link-class="`text-center block w-10 h-10 pt-2`"
      :next-class="`bg-purple-600 text-center px-12 py-3 md:p-0 md:h-10 rounded-lg`"
      :next-link-class="`h-10 block align-middle px-10 py-2 text-purple-100 font-medium`"
      :prev-class="`px-0 py-3 text-center md:p-0 md:h-10 rounded-lg md:border border-purple-300`"
      :prev-link-class="`h-10 block align-middle px-10 py-2 text-purple-500 font-medium`"
      :disabled-class="`border-none mx-0 opacity-50`"
    />
  </div>
</template>

<script>
import ProductCard from '@/components/ProductCard'
import Header from '@/components/Header'

import { mapGetters, mapActions } from 'vuex'
import Paginate from 'vuejs-paginate'

export default {
  name: 'products',
  components: {
    ProductCard,
    Paginate,
    Header
  },
  methods: {

    ...mapActions([
      'fetchProducts',
      'addToCart'
    ]),

    changePage(page) {
      let path = this.$route.params.phrase ? "searchPage" : "page";
      this.$router.push({ name: path, params: { page: page, phrase: this.$route.params.phrase } });
      this.$store.commit('setCurrentPage', page);

      this.fetchProducts(this.$route.params.phrase);
      window.scrollTo(0,0);
    },

    updateFilter(e) {
      this.$store.commit('setFilter', parseInt(e.target.value));
      this.fetchProducts(this.$route.params.phrase);
    },

    closeModal(e) {
      e.name ? this.$router.back() : this.$router.push("/");
    },

    itemToCart(id, quantity) {
      this.addToCart({ 
        id: id, 
        quantity: quantity,
      })
    }

  },
  computed: {
    ...mapGetters([
      'products',
      'allProductsCount',
      'limit',
      'currentPage',
      'allPagesCount',
      'cartData'
    ]),
    currentPage: {
        get ()      { return this.$store.getters.currentPage; },
        set (value) { this.$store.commit("setCurrentPage", value);}
    }
  },
  created() {
    if(this.$route.params.page) this.$store.commit("setCurrentPage", parseInt(this.$route.params.page));
    this.fetchProducts(this.$route.params.phrase);
  }
}
</script>

<style>
  .scroll-lock {
    height: 100vh;
    overflow: hidden;
  }
  .push-enter-active, .push-leave-active {
    transition: all .2s ease;
  }
  .push-enter, .push-leave-to {
    opacity: 0;
  }
</style>



