<template>
  <div class="flex items-center px-10 py-6 text-sm">
    <router-link :to="{ name: 'productModal', params: { id: id } }">
      <img :src="thumb" :alt="id" class="w-16">
    </router-link>
    <div class="pl-2">
      <router-link :to="{ name: 'productModal', params: { id: id } }" class="text-purple-300 block">{{id}}</router-link>
      <router-link :to="{ name: 'productModal', params: { id: id } }" class="truncate w-64 font-bold text-purple-900 block">{{name}}</router-link>
      <div class="inline text-purple-600 float-left"> Quantity: {{ quantity }} </div>
      <div @click="$emit('removeFromCart', id)" class="inline ml-2 text-red-400 cursor-pointer bg-red-100 rounded text-sm px-2">Remove</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CartItem",
  props: {
    id: String,
    name: String,
    quantity: Number,
    thumb: String
  }
}
</script>

<style>

</style>
