<template>
  <div class="flex lg:flex justify-around px-8 py-8 relative">
    <transition name="fade">
      <div v-show="showSuccess" class="text-center z-10 absolute top-0 my-5 bg-teal-100 rounded text-green-600 w-4/5 py-4">
        Product added to cart!
      </div>
    </transition>
    <transition name="fade">
      <input v-show="!showSuccess" v-model="quantity" type="number" value="1" min="1" class="w-16 text-purple-800 border border-purple-200 rounded pl-4 pr-2">
    </transition>
    <transition name="fade">
      <button v-show="!showSuccess" :disabled="showSuccess" @click="itemToCart" class="rounded bg-purple-600 text-purple-200 font-semibold px-12 md:px-6 py-2 hover:bg-purple-700">
        <svg class="h-6 w-6 fill-current text-purple-300 inline-block mr-4 hidden lg:inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M4 2h16l-3 9H4a1 1 0 1 0 0 2h13v2H4a3 3 0 0 1 0-6h.33L3 5 2 2H0V0h3a1 1 0 0 1 1 1v1zm1 18a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm10 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
        </svg>
        Add to cart
      </button>
    </transition>
    <div class="block h-10 w-0"></div>
  </div>
</template>

<script>
export default {
  name: "CartInput",
  data() {
    return {
      quantity: 1,
      showSuccess: false
    }
  },
  methods: {
    itemToCart() {
      this.$emit('addToCart', this.quantity);
      this.showSuccess = true;
      setTimeout(() => {
        this.showSuccess=false;
        this.quantity = 1;
      }, 2000);
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: all .4s cubic-bezier(0.510, -0.595, 0.655, 1.650);
}
.fade-enter {
  opacity: 0;
  transform: translateY(-30px) rotateX(90deg);
}

.fade-leave-to  {
  opacity: 0;
  transform: translateY(30px) rotateX(90deg);
}
</style>
