<template>
  <div>
    <div class="flex-none justify-between items-center md:flex pl-4 md:pl-0 pt-10">
      <div class="text-3xl font-black text-purple-900 opacity-75">
        {{ headline }}
      </div>
      <div class="text-purple-900 opacity-75">
        Items per page:
        <select :value="limit" @change="limitChange" class="appearance-none bg-white border border-purple-400 text-purple-900 ml-4 py-2 px-3 pb-1 pr-8 rounded focus:outline-none focus:bg-white focus:border-purple-600">
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="60">60</option>
        </select>
      </div>
    </div>
    <div class="w-full h-px bg-purple-900 mt-5 mb-10 opacity-25"></div>
  </div>
</template>

<script>
export default {
  name: "Header",
  props: {
    limit: Number,
    headline: String
  },
  methods: {
    limitChange (e) { 
      this.$emit('updateFilter', e);
    }
  }
}
</script>
