<template>
  <div class="navigation container mx-auto flex-none md:flex justify-between py-8 items-center bg-white fixed right-0 left-0 z-50 top-0 h-32" @mouseleave="showCart(false)" >
    <div class="logo flex-none md:flex items-center">
      <a class="company-name font-bold text-4xl pr-2 text-purple-600 block text-center" href="/">
        Dunder Mifflin
      </a>
      <div class="company-slogan pl-3 text-purple-400 hidden md:block border-l border-purple-300">
        We sell things
      </div>
    </div>
    <div class="options flex justify-center">
      <form @submit="searchProducts" class="p-0 m-0">
        <input v-model="searchingPhrase" class="h-full mr-8 border-b-2 text-purple-500 border-purple-200" type="text" placeholder="Search for products">
      </form>
      <span class="shopping-cart relative cursor-pointer" @mouseenter="showCart(true)" @click="showCart(!showCartContent)">
        <transition name="pop">
          <div v-show="newItems" class="absolute block w-8 h-8 bg-purple-600 rounded-full opacity-50"></div>
        </transition>
        <div v-if="cartLength > 0" class="badge absolute top-0 right-0 bg-purple-600 px-2 text-xs text-white rounded-full">{{ cartLength }}</div>
        <svg class="h-8 w-8 fill-current text-purple-200 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M4 2h16l-3 9H4a1 1 0 1 0 0 2h13v2H4a3 3 0 0 1 0-6h.33L3 5 2 2H0V0h3a1 1 0 0 1 1 1v1zm1 18a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm10 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
        </svg>
      </span>
      <transition name="arrive">
        <ShoppingCart v-show="showCartContent"/>
      </transition>
    </div>
  </div>
</template>

<script>
import ShoppingCart from './ShoppingCart'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: "navigation",
  components: {
    ShoppingCart
  },
  data() {
    return {
      showCartContent: false,
      searchingPhrase: "",
      newItems: false
    }
  },
  methods: {
    ...mapActions([
      'fetchCartItems'
    ]),

    showCart(val) {
      this.showCartContent = val
      if(this.showCartContent) this.fetchCartItems();
    },

    searchProducts(e) {
      e.preventDefault();
      this.$router.push({ name: 'search', params: { phrase: this.searchingPhrase } });
    }
  },
  computed: {
    ...mapGetters([
      'cartLength'
    ])
  },
  watch: {
    cartLength: function (val, oldVal) {
      if(val > oldVal) {
        this.newItems = true;
        setTimeout(() => {
          this.newItems = false;
        }, 400);
      }
    },
  }
}
</script>

<style scoped>
  input::placeholder {
    color: #9F7AEA;
  }

  .arrive-enter-active, .arrive-leave-active {
    transition: all .2s;
  }
  .arrive-enter, .arrive-leave-to {
    opacity: 0;
    transform: translateY(-100px) scale(0.4) rotateX(30deg) translateX(200px);
  }

  .pop-enter-active, .pop-leave-active {
    transition: all .4s;
  }

  .pop-enter {
    opacity: 0;
    transform: scale(0.1);
  }

  .pop-leave-to {
    opacity: 0;
    transform: scale(2);
  }
</style>
