<template>
  <div class="productmodal">
    <div class="bg-gray-600 fixed z-30 w-full h-full opacity-75 left-0 overflow-hidden" @click="$emit('closeModal', fromRoute)"></div>
    <div class="shadow-xl modal fixed z-40 md:w-3/4 lg:w-1/2 bg-white left-0 right-0 h-full pb-32 md:pb-4 overflow-y-scroll md:h-auto md:overflow-hidden mx-auto md:mt-16 px-4 md:px-16 pt-16 md:rounded-lg flex-none lg:flex items-center">
      <span class="z-50 pt-1 mt-0 text-center bg-white md:absolute md:left-auto md:right-0 md:top-0 md:mt-12 md:ml-0 md:mr-16 text-4xl text-purple-300 cursor-pointer hover:text-purple-400" @click="$emit('closeModal', fromRoute)">
        &times;
      </span>
      <div>
        <img :src="currentProduct.images.primary.large" :alt="currentProduct.general.name" class="w-32 lg:w-full pr-4">
      </div>
      
      <div class="w-full">
        <router-link class="bg-purple-500 text-purple-100 px-2 mt-8 lg:mt-0 rounded inline-block" :to="{ name: 'search', params: { phrase: currentProduct.brand.name } }">
          {{ currentProduct.brand.name }}
        </router-link>
        <div class="font-black text-purple-900 text-2xl pt-4 opacity-75 md:w-2/3">
          {{ currentProduct.general.name }}
        </div>
        <div class="text-purple-900 opacity-75 md:h-64 mt-10 pr-4 overflow-y-scroll">
          <div>
            Product ID: {{ currentProduct.general.presentable_id }}
          </div>
          <div v-html="currentProduct.general.description" class="description pt-4">
          </div>
        </div>
        <CartInput class="px-8 float-right w-full md:w-4/6" @addToCart="itemToCart" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CartInput from '@/components/CartInput'

export default {
  name: "ProductModal",
  components: {
    CartInput
  },
  data() {
    return {
      quantity: 1
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.fromRoute = from;
    })
  },
  beforeRouteLeave (to, from, next) {
    document.body.classList.remove("scroll-lock");
    next();
  },
  methods: {
    ...mapActions([
      'fetchProduct'
    ]),
    itemToCart(quantity) {
      this.$emit('addToCart', this.currentProduct.id, quantity)
    }
  },
  computed: {
    ...mapGetters([
      'currentProduct'
    ])
  },
  created() {
    this.fetchProduct(this.$route.params.id);
    document.body.classList.add("scroll-lock");
  }
}
</script>

<style scoped>
  .description >>> li {
    margin-left: 20px;
  }
</style>

