<template>
    <div class="bg-white productcard sm:w-full md:w-1/3 lg:w-1/4 mx-4 my-4 rounded-lg hover:shadow-xl text-center">
        <router-link :to="{ path: '/product/'+id, params: { id: id } }">
            <img :src="thumbnail" class="w-full">
            <div class="text-purple-400">
                {{ id }}
            </div>
            <div class="font-bold w-3/4 mx-auto text-purple-900 h-12 overflow-hidden">
                {{ name }}
            </div>
        </router-link>
        <CartInput class="mx-auto block" @addToCart="itemToCart" />
    </div>
</template>

<script>
import CartInput from '@/components/CartInput'

export default {
  name: "Product",
  components: {
    CartInput
  },
  props: {
    id: String,
    name: String,
    thumbnail: String
  },
  data() {
    return {
      quantity: 1
    }
  },
  methods: {
    itemToCart(quantity) {
      this.$emit('addToCart', this.id, quantity)
    }
  }
}
</script>

<style scoped>
  .productcard {
    transition: 0.3s all ease-in-out;
  }

  button {
    transition: 0.3s all ease-in-out;
  }
</style>
