<template>
  <div class="shoppingcart shadow-xl rounded bg-white absolute left-0 lg:left-auto z-50 max-w-full ">
    <div class="pr-16 pl-8 py-4 text-purple-900 opacity-75 rounded text-xl font-bold">Shopping cart</div>
    <div class="h-64 overflow-y-scroll">
      <transition-group name="slideOut">
        <CartItem 
          v-for="item in cartProducts" :key="item.id"
          :id="item.id"
          :name="item.name"
          :quantity="item.quantity"
          :thumb="item.thumb"
          @removeFromCart="removeFromCart"
          class="transitional"
        />
      </transition-group>
      <div v-show="cartProducts.length == 0" class="px-32 pt-32 font-semibold text-gray-500 text-center">
        Your shopping cart is empty.
      </div>
    </div>
    <div class="flex justify-around items-center my-4" v-show="cartProducts.length != 0">
      <button @click="clearCart()" class="mx-4 py-4 px-4 rounded text-gray-500">Clear cart</button>
      <button class="bg-purple-600 text-purple-100 py-4 px-12 mx-4 rounded font-semibold">Proceed to checkout</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CartItem from '@/components/CartItem'

export default {
  name: "ShoppingCart",
  components: {
    CartItem
  },
  computed: {
    ...mapGetters([
      'cartProducts'
    ])
  },
  methods: {
    ...mapActions([
      'removeFromCart',
      'clearCart'
    ])
  }
}
</script>

<style scoped>
.shoppingcart {
  right: -2em;
  top: 8em;
}

.slideOut-leave-active {
  transition: all .2s ease;
}

.slideOut-leave-to  {
  opacity: 0;
  transform: translateX(90px);
  position: absolute
}

@media (min-width: 640px) {
  .shoppingcart {
    right: -2em;
    top: 6em;
  }
}
</style>
